.transactionHistory {
  width: 600px;
  height: 800px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 #adacac;
  margin: 10px;
  padding: 10px;
}
.thead {
  background-color: aquamarine;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
.grey {
  background-color: rgb(207, 207, 207);
}
.white {
  background-color: white;
}
